<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <style>
        .red{color: red}
        .hd1{color:blue}
        .hd2{color:yellow}
    </style>
</head>
<body>
    <div id="yqzx">
        <!--<h1>{{hd}}</h1>-->
        <h3 v-once>{{title}}</h3>
        <div :class="'hd'+n" :id="'1yqzx'">{{title}}</div>
        <input type="text" v-model="n">
        <input type="radio" v-model="n" value="1">
        <input type="radio" v-model="n" value="2">
        {{n+8}}
        <div v-text="yq"></div>
        <div v-html="yq"></div>
    </div>
<script>
    var app=new Vue({
        el:'#yqzx' ,
        data:{
            title:'云雀智享',
            hd:'red',
            yq:'<h1 style="color:red">人工智能</h1>',
            n:1
        }
    });
</script>
</body>
</html>