<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>

<div  id="yqzx">
   <li v-for="(feild,key,index) in user">
     {{index+1}} {{key}}: {{feild}}
   </li>
    <table border="1">
        <thead>
            <tr>编号</tr>
        </thead>
        <tbody>
           <tr v-for="v in 20">
               <td>{{v}}</td>
           </tr>
        </tbody>
    </table>
</div>
<script>
    var app=new Vue({
        el:"#yqzx",
        data:{
            user:{id:3,name:"张三",age:"22",address:"北京"}
        }
    })
</script>
</body>
</html>