<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件之间的传值</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"></link>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
<div  id="yqzx">
    <yq-header  :show-del-button="false"></yq-header>
</div>
<script type="text/x-handlebars-template" id="yqkf">
    <div>
        <li v-for="(v,k) in dd">{{v.title}}
            <button type="button" @click="del(k)" v-if="showDelButton">删除</button>
        </li>
    </div>
</script>
<script>
    var yqHeader={
        template:'#yqkf',
        props:{
            showDelButton:{
                type:[Boolean,Number],//限制变量的类型
                default:false,//指定变量的默认值
                required:true,//设置为必须传
            },
            // showDelButton:{
            ////函数验证
            //     validator(v){
            //         return v===0||v===1;
            //     },
            //     default:false
            // },
            dd:{
                type:Array,
                default(){
                    return [{title:'云雀'}]
                }
            }
        },
        data(){
            return{}
        },
    };
    //根组件
    var app=new Vue({
        el:"#yqzx",
        data:{
            news:[
                {title:'学习',id:1},
                {title:'新闻',id:2},
                {title:'生活',id:3},
            ]
        },
        //声明局部组件
        components:{
            yqHeader
        },
        methods:{

        },
    })
</script>
</body>
</html>